/* ---------
    Header 
------------*/
header{
    margin: 1%;
    padding: 2%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    text-decoration: none;
    padding-left: 10px;
}
a:visited{
    color: black;
}
.heading{
    display: flex;
}
.heading img{
    width: 100%;
    align-content: center;
}
.heading-blog h1{
    font-size: 52;
}
.heading-blog a{
    text-decoration: none;
    color: white;
    background-color:rgb(199, 9, 199);
    padding: 5px 15px;
    border-radius: 41px;
}

/*-------
    Main
--------- */
main{
    margin: 0% 8%;
    background-color: rgb(248, 245, 245);
    
}
#collections-heading{
    text-align: center;
}
.collection-container{
    /* column-gap: 2%;
    row-gap: 0%;
    border: none;
    outline: none;  */
    padding: 0% 2%;
}
.collections{
    background-color: wheat;
    width: 329px;
    height: 476px;
    align-items: center;
    width: 100%;
    border: 5px solid gainsboro;
    padding: 0px;
}
.product-img{
    width: 100%;
    padding: 5%;

}
.product-details{
    padding: 5%;
}
#more-products{
    padding-left: 90%;
    color: rgb(199, 9, 199);
    text-decoration: none;
}

/* ----------
    Footer
----------- */
footer{
    text-align: center;
    background-color: slategrey;
}

/*-----------------------
    Making responsive
------------------------*/
@media only screen and (max-width: 688px) {
    .collection-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 689px){ 
    .collection-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .collection-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

